body {
    background: linear-gradient(to top, rgb(0, 87, 146, 44%) 10%, rgb(0, 187, 240, 35%) 30%, rgb(253, 180, 75, 40%) 100%);
    color: rgb(1, 1, 66);
    font-family: PT Mono,monospace;
    margin: 0 auto;
    margin-top: 40px;
    width: 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    margin-top: 8px;
    max-width: 400px;
    padding: 30px 10px 20px     ;
}
ul, li {
    list-style: none;
    position: relative;
}

h1 {
font-family: 'Raleway', sans-serif;
font-size: 120;
font-style: italic;
font-weight: 600;
margin-bottom: 0;

}

p {
 font-family: PT Mono, monospace;
 letter-spacing: -1px;
}

.container {
    background: linear-gradient(to bottom, rgb(1, 1, 66, 67%) 40%, rgb(95, 104, 170) 100%);
    color: whitesmoke;
    border: 1px solid gray;
    border-radius: 30px;
    font-family: PT Mono, monospace;
}

.search-bar {
    display: inline-block;
    width: 250px;
}

.current-weather {
font-size: 15px;
display: inline;
padding: 0;
}
li.temp-value {
    letter-spacing: -1px;
}

.temp-value {
    display: inline-block;
    font-size: 40px;
}
.weather-description {
    line-height: 18px;
}

.current-weather-icon {
    position: relative;
    top: -5px;
    padding-left: 0;
    width: 130px;
    margin-bottom: 0;
}

li.units {
    display: inline-block;
}

.units {
 position: relative;
 top: -17px;
 left: -3px
}

li:first-letter {
    text-transform: capitalize;
}

.weather-description .current-weather {
    text-transform: capitalize;
    text-align: right;
}

.current-weather-conditions {
    padding-left: 10px;
}

.current-weather-element {
    text-align: right;
}

.weather-forecast {
    text-align: center;
    margin-bottom: 10px;
}
.weather-forecast-temp-min {
    opacity: 0.3;
}

.github-link small { 
    color: whitesmoke;
    cursor: pointer;
    margin: 0 auto;
}

.github-link {
    text-decoration: none;
}  

.links-and-credits {
    text-align: center;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-links {
    display: inline-block;
    padding: 0 3px;
    margin: 0;
    margin-top: 3px;
}